WebContent/wsdl/Course.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="course_add">
    <complexType>
     <sequence>
      <element name="coursename" type="xsd:string"/>
      <element name="courseteacher" type="xsd:string"/>
      <element name="coursedate" type="xsd:string"/>
      <element name="coursetime" type="xsd:string"/>
      <element name="courseplace" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="course_addResponse">
    <complexType>
     <sequence>
      <element name="course_addReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="course_addResponse">

      <wsdl:part element="impl:course_addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="course_addRequest">

      <wsdl:part element="impl:course_add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Course">

      <wsdl:operation name="course_add">

         <wsdl:input message="impl:course_addRequest" name="course_addRequest">

       </wsdl:input>

         <wsdl:output message="impl:course_addResponse" name="course_addResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CourseSoapBinding" type="impl:Course">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="course_add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="course_addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="course_addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CourseService">

      <wsdl:port binding="impl:CourseSoapBinding" name="Course">

         <wsdlsoap:address location="http://localhost:8080/android_join/services/Course"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
