WebContent/wsdl/Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="join_login">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="userpassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="join_loginResponse">
    <complexType>
     <sequence>
      <element name="join_loginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="join_loginResponse">

      <wsdl:part element="impl:join_loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="join_loginRequest">

      <wsdl:part element="impl:join_login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login">

      <wsdl:operation name="join_login">

         <wsdl:input message="impl:join_loginRequest" name="join_loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:join_loginResponse" name="join_loginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginSoapBinding" type="impl:Login">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="join_login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="join_loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="join_loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginService">

      <wsdl:port binding="impl:LoginSoapBinding" name="Login">

         <wsdlsoap:address location="http://localhost:8080/android_join/services/Login"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
